/* Main Header */
.page-header {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Card Styling */
.card {
    background-color: #fdfdfd;
    padding: 25px;
    margin: auto;
    width: 80%;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Project Header */
.project-header {
    font-size: 1.2em;
    font-weight: bold;
    color: #444;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Dropdown Icon */
.dropdown-icon {
    font-size: 0.8em;
    color: #555;
    margin-left: 5px;
}

/* Table */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.table th,
.table td {
    padding: 12px 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    min-width: 150px;
}

.table th {
    color: #555;
    font-weight: bold;
    text-align: left;
}

.table tbody tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

/* Small Column */
.small-column {
    width: 30px; 
}

/* Task Link */
.task-link {
    color: black; 
    text-decoration: none;
    cursor: pointer;
}

.task-link:hover {
    font-weight: bold; 
    color: black; 
}


.text-danger {
    color: #d9534f;
}

p {
    font-size: 1em;
    color: #666;
}


.project-link {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

.project-link:hover {
    font-weight: bold;
    cursor: pointer;
}



/*Select sorting options*/

.sorting-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;  
    padding: 0.5rem 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the label */
.sorting-options label {
    font-size: 1rem;
    margin-right: 0.5rem;
    font-weight: 600;
}

/* Style the select dropdown */
.sorting-options select {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    outline: none;
    transition: border-color 0.3s ease;
}

.sorting-options select:hover {
    border-color: #007bff;
}

.sorting-options select:focus {
    border-color: #0056b3;
}

/* Style the button */
.sorting-options button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-left: 0.5rem;  
}

/* Button hover effect */
.sorting-options button:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* Button active (clicked) effect */
.sorting-options button:active {
    background-color: #003366;
    border-color: #003366;
}